@model IEnumerable<RestaurantDAL.Event>

@{


    ViewBag.Title = "ViewRestaurantEvents";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm())
{

<table border="1" cellpadding="10" cellspacing="10">

    <tr>
        <th>Event Name</th>
        <th>Event Description</th>
        <th>Event Date</th>
        <th>Event Time</th>
        <th>Event Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Event_Name</td>
            <td>@item.Event_Description</td>
            <td>@item.Event_date</td>
            <td>@item.event_time</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.EV_ID }, null)</td>
        </tr>
    }
</table>
}